h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    letter-spacing: 9px;
    word-spacing: 25px;
}

h2 {
    letter-spacing: 36px;
    word-spacing: 12px;
}

h3 {
    letter-spacing: 14px;
    word-spacing: 28px;
}