body {
    background-color: lightgray;
}
.fondo {
    background-color: white;
    position: relative;
    left: 25%;
    width: 45%;
    height: 90vh;
    z-index: 0;
}

.azul {
    background-color: rgba(58, 58, 228, 0.5);
    float: left;
    width: 29%;
    height: 20%;
    z-index: 5;
    margin: 2%;
}

.morado {
    background-color: rgba(128, 2, 128, 0.5);
    float: left;
    width: 29%;
    height: 20%;
    z-index: 5;
    margin: 2%;
}

.rojo {
    background-color: rgba(248, 8, 8, 0.5);
    float: left;
    width: 29%;
    height: 40%;
    z-index: 5;
    margin: 2%;
}

.amarillo_claro {
    background-color: rgba(255, 255, 15, 0.8);
    float: left;
    width: 29%;
    height: 20%;
    z-index: 5;
    margin: 2%;
}

.azul_aqua {
    background-color: rgba(0, 255, 255, 0.5);
    float: left;
    width: 29%;
    height: 20%;
    z-index: 5;
    margin: 2%;
}

.naranja {
    background-color: rgb(255, 166, 0, 0.5);
    float: left;
    width: 29%;
    height: 20%;
    z-index: 5;
    margin: 2%;
}

.rojo_claro {
    background-color: rgb(233, 123, 123, 0.5);
    float: left;
    width: 29%;
    height: 20%;
    z-index: 5;
    margin: 2%;
}